[Interface]
Address = 10.34.0.109/24
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eno1 -j MASQUERADE
PostUp = iptables -A FORWARD -s 192.168.20.0/24 -i eno1 -j ACCEPT; iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eno1 -j MASQUERADE
PostDown = iptables -D FORWARD -s 192.168.20.0/24 -i eno1 -j ACCEPT; iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE
ListenPort = 51820
PrivateKey = {{ PrivateKey }}
DNS = 10.34.0.1

[Peer]
PublicKey = qcEURQUlFPvBEdtOWEZ9LZzYDBS4H/7X+e/MDC+Jnjw=
PresharedKey = {{ PresharedKey }}
AllowedIPs = 10.0.0.0/8, 192.168.10.0/24
Endpoint = {{ Endpoint }}
PersistentKeepalive = 25
