[Unit]
Description=Daily apt upgrade and clean activities
After=apt-daily.timer

[Timer]
OnCalendar=*-*-* 6:00
RandomizedDelaySec={{ randomized_delay_upgrade | default("30m") }}
Persistent=true

[Install]
WantedBy=timers.target
