[Desktop Entry]
  Type=Application
  Name=Bitwarden
  Comment=Bitwarden startup script
  Exec=/snap/bitwarden/159/bitwarden-app
  StartupNotify=false
  Terminal=false
